.Interactive {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Header{
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: black;
  width: 100%
}
#banner{
  position: absolute;
  width: 100vw;
  top: 4.688rem;
  left: 0;
}
.Headline-Sticky-Container{
  height: 70rem;
}
.Headline {
 /* BIGGER THAN THE GRAMMYS */
  
  width: 73.5rem;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12.5rem;
  line-height: 10.938rem;
 /* or 87% */
  color: #FFFFFF;
  margin-left: 5.688rem;
  position: sticky;
  position: -webkit-sticky;
  top: 4.688rem;
}
.Subhead {
  width: 78.625rem;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 510;
  font-size: 1.875rem;
  line-height: 2.5rem;
  /* or 137% */
  color: #FFFFFF;
  margin-left: 5.688rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Byline {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 0.938rem;
  line-height: 1.875rem;
 /* or 150% */
  letter-spacing: 0.25em;
  color: #FFFFFF;
  margin-left: 5.688rem;
  margin-bottom: 2.5rem;
}
.Part-One {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.313rem;
  line-height: 1.813rem;
  /* or 160% */
}
.Sub-Header{
  max-width: 50rem;
  color: black;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 1.313rem;
  line-height: 1.813rem;
  /* or 160% */
}
.Part-Two {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.313rem;
  line-height: 1.813rem;
  /* or 160% */
}
#bts-banner{
  width: 100vw;
}
.Paragraph-Sticky-Container {
  height: 187.5rem;
}
.Tweet-Sticky-Container-One{
  height: 131.25rem;
  margin-top: 31.25rem;
}
.Tweet-Sticky-Container-Two{
  height: 106.25rem;
}
.Tweet-Sticky-Container-Three{
  height: 87.5rem;
}figma
.Tweet-Sticky-Container-Four{
  height: 81.25rem;
}
.Tweet-Sticky-Container-Five{
  height: 56.25rem;
}
.Tweet-Sticky-Container-Six{
  height: 50rem;
}
.Tweets-Paragraph {
  position: sticky;
  position: -webkit-sticky;
  top: 50%;
}
.Tweet-One {
  position: sticky;
  position: -webkit-sticky;
  top: 18.75rem;
  margin-left: 6.25rem;
  margin-bottom: 12.5rem;
}
.Tweet-Two {
  position: sticky;
  position: -webkit-sticky;
  top: 21.875rem;
}
.Tweet-Three {
  position: sticky;
  position: -webkit-sticky;
  margin-left: 25rem;
  top: 25rem;
}
.Tweet-Four {
  position: sticky;
  position: -webkit-sticky;
  margin-left: 1.875rem;
  top: 12.5rem;
}
.Tweet-Five {
  position: sticky;
  position: -webkit-sticky;
  margin-left: 31.25rem;
  top: 15.625rem;
}
.Tweet-Six {
  position: sticky;
  position: -webkit-sticky;
  margin-left: 18.75rem;
  top: 23.438rem;
}
.Pullout-Quote {
  display: flex;
  text-align: center;
  color: #EB9486;
  font-family: "DM Sans";
  font-weight: 800;
  font-size: 2rem;
  line-height: 3rem;
  justify-content: center;
}
.Part-Three {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.313rem;
  line-height: 1.813rem;
  /* or 160% */
}
#fonsi-banner{
  width: 100vw;
}
.Part-Four {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.313rem;
  line-height: 1.813rem;
  /* or 160% */
}
#ratings-banner{
  width: 100vw;
}
.Part-Five {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.313rem;
  line-height: 1.813rem;
  /* or 160% */
}
.Part-Six {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.313rem;
  line-height: 1.813rem;
  /* or 160% */
}
#broader-context-banner{
  width: 100vw;
}
.Lyric-Comparison {
  width: 70vw;
  margin: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.Analysis {
  margin-top: 1.313rem;
  display: flex;
  justify-content: center;
  width: 20%;
  color: #7E7F9A;
}
.Lyrics {
  font-family: 'DM Sans';
  width: 25%;
  margin: 0.313rem;
}
.Empty-Div {
  width: 10%;
}
