.Interactive {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Header{
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: black;
  width: 100%
}
.Headline-Sticky-Container{
  height: 1500px;
}
.Headline {
 /* BIGGER THAN THE GRAMMYS */
  
  width: 1176px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 200px;
  line-height: 175px;
 /* or 87% */
  color: #FFFFFF;
  margin-left: 91px;
  position: sticky;
  top: 75px;
}
.Subhead {
  width: 1258px;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 510;
  font-size: 35px;
  line-height: 48px;
  /* or 137% */
  color: #FFFFFF;
  margin-left: 91px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.Byline {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
 /* or 150% */
  letter-spacing: 0.25em;
  color: #FFFFFF;
  margin-left: 91px;
  margin-bottom: 40px;
}
.PartOne {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  /* or 160% */
}
.PartTwo {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  /* or 160% */
}
.PartThree {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  /* or 160% */
}
.PartFour {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  /* or 160% */
}
.Lyric-Comparison {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Analysis {
  display: flex;
  justify-content: center;
  width: 25%;
}
.Lyrics {
  width: 25%;
  margin: 5px;
}
.BTSPhotoText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 976px;
  height: 549px;
  font-size: xx-large;
  color: lightblue;
  text-decoration: underline;
}
