.Interactive {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Header{
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: black;
  width: 100%
}
.Headline-Sticky-Container{
  height: 1500px;
}
.Headline {
 /* BIGGER THAN THE GRAMMYS */
  
  width: 1176px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 200px;
  line-height: 175px;
 /* or 87% */
  color: #FFFFFF;
  margin-left: 91px;
  position: sticky;
  position: -webkit-sticky;
  top: 75px;
}
.Subhead {
  width: 1258px;
  font-family: 'SF Pro';
  font-style: normal;
  font-weight: 510;
  font-size: 35px;
  line-height: 48px;
  /* or 137% */
  color: #FFFFFF;
  margin-left: 91px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.Byline {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
 /* or 150% */
  letter-spacing: 0.25em;
  color: #FFFFFF;
  margin-left: 91px;
  margin-bottom: 40px;
}
.Part-One {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  /* or 160% */
}
.Sub-Header{
  max-width: 50rem;
  color: black;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  /* or 160% */
}
.Part-Two {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  /* or 160% */
}
.Paragraph-Sticky-Container {
  height: 3000px;
}
.Tweet-Sticky-Container-One{
  height: 2100px;
  margin-top: 500px;
}
.Tweet-Sticky-Container-Two{
  height: 1700px;
}
.Tweet-Sticky-Container-Three{
  height: 1400px;
}figma
.Tweet-Sticky-Container-Four{
  height: 1300px;
}
.Tweet-Sticky-Container-Five{
  height: 900px;
}
.Tweet-Sticky-Container-Six{
  height: 800px;
}
.Tweets-Paragraph {
  position: sticky;
  position: -webkit-sticky;
  top: 50%;
}
.Tweet-One {
  position: sticky;
  position: -webkit-sticky;
  top: 300px;
  margin-left: 100px;
  margin-bottom: 200px;
}
.Tweet-Two {
  position: sticky;
  position: -webkit-sticky;
  top: 350px;
}
.Tweet-Three {
  position: sticky;
  position: -webkit-sticky;
  margin-left: 400px;
  top: 400px;
}
.Tweet-Four {
  position: sticky;
  position: -webkit-sticky;
  margin-left: 30px;
  top: 200px;
}
.Tweet-Five {
  position: sticky;
  position: -webkit-sticky;
  margin-left: 500px;
  top: 250px;
}
.Tweet-Six {
  position: sticky;
  position: -webkit-sticky;
  margin-left: 300px;
  top: 375px;
}
.Part-Three {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  /* or 160% */
}
.Part-Four {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  /* or 160% */
}
.Part-Five {
  max-width: 50rem;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 29px;
  /* or 160% */
}
.Lyric-Comparison {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Analysis {
  display: flex;
  justify-content: center;
  width: 25%;
}
.Lyrics {
  width: 25%;
  margin: 5px;
}
.BTSPhotoText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 976px;
  height: 549px;
  font-size: xx-large;
  color: lightblue;
  text-decoration: underline;
}
